doctype
html 
    head
        link(rel='shortcut icon' href='img/logo5.png')
        link(rel="stylesheet" href="css/login.css")
        link(rel="stylesheet" href="css/all.min.css")
        link(rel="stylesheet" href="css/render.css")
        title Log In
    body
        header.header
            <a href="/"> <img src="img/logo5.png" alt="" class="logo"> </a>
        section.section
            .box
                label(for="#121") Email
                input(type="text" id="121")
                label(for="#122") Password
                input(type="text" id="122")
                <a href="/forgetPassword"> forget password </a>
                button.loginBtn Log in
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js')
        script(src='/js/login.js')